@font-face {
  font-family: 'Montserrat';
  font-weight: 300;
  font-style: normal;
  src: url('./../fonts/Montserrat-Light/Montserrat-Light.eot'); /* IE9 eot*/
  src: url('./../fonts/Montserrat-Light/Montserrat-Light.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Montserrat-Light/Montserrat-Light.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-Light/Montserrat-Light.woff') format('woff'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-Light/Montserrat-Light.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Montserrat-Light/Montserrat-Light.svg#Montserrat-Light')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/Montserrat-Regular/Montserrat-Regular.eot'); /* IE9 eot*/
  src: url('./../fonts/Montserrat-Regular/Montserrat-Regular.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Montserrat-Regular/Montserrat-Regular.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-Regular/Montserrat-Regular.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-Regular/Montserrat-Regular.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Montserrat-Regular/Montserrat-Regular.svg#Montserrat-Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  font-style: normal;
  src: url('./../fonts/Montserrat-Medium/Montserrat-Medium.eot'); /* IE9 eot*/
  src: url('./../fonts/Montserrat-Medium/Montserrat-Medium.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Montserrat-Medium/Montserrat-Medium.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-Medium/Montserrat-Medium.woff') format('woff'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-Medium/Montserrat-Medium.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Montserrat-Medium/Montserrat-Medium.svg#Montserrat-Medium')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 600;
  font-style: normal;
  src: url('./../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot'); /* IE9 eot*/
  src: url('./../fonts/Montserrat-SemiBold/Montserrat-SemiBold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-SemiBold/Montserrat-SemiBold.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/Montserrat-SemiBold/Montserrat-SemiBold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Montserrat-SemiBold/Montserrat-SemiBold.svg#Montserrat-SemiBold')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  font-style: normal;
  src: url('./../fonts/Montserrat-Bold/Montserrat-Bold.eot'); /* IE9 eot*/
  src: url('./../fonts/Montserrat-Bold/Montserrat-Bold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Montserrat-Bold/Montserrat-Bold.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Montserrat-Bold/Montserrat-Bold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Montserrat-Bold/Montserrat-Bold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Montserrat-Bold/Montserrat-Bold.svg#Montserrat-Bold')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Abril Fatface';
  font-weight: 400;
  font-style: normal;
  src: url('./../fonts/AbrilFatface-Regular/AbrilFatface-Regular.eot'); /* IE9 eot*/
  src: url('./../fonts/AbrilFatface-Regular/AbrilFatface-Regular.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('./../fonts/AbrilFatface-Regular/AbrilFatface-Regular.woff2')
      format('woff2'),
    /* chrome、firefox */
      url('./../fonts/AbrilFatface-Regular/AbrilFatface-Regular.woff')
      format('woff'),
    /* chrome、firefox */
      url('./../fonts/AbrilFatface-Regular/AbrilFatface-Regular.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/AbrilFatface-Regular/AbrilFatface-Regular.svg#AbrilFatface-Regular')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 700;
  font-style: normal;
  src: url('./../fonts/OpenSans-Bold/OpenSans-Bold.eot'); /* IE9 eot*/
  src: url('./../fonts/OpenSans-Bold/OpenSans-Bold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/OpenSans-Bold/OpenSans-Bold.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/OpenSans-Bold/OpenSans-Bold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/OpenSans-Bold/OpenSans-Bold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/OpenSans-Bold/OpenSans-Bold.svg#OpenSans-Bold')
      format('svg'); /* iOS 4.1- */
}

@font-face {
  font-family: 'Roboto';
  font-weight: 700;
  font-style: normal;
  src: url('./../fonts/Roboto-Bold/Roboto-Bold.eot'); /* IE9 eot*/
  src: url('./../fonts/Roboto-Bold/Roboto-Bold.eot?iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('./../fonts/Roboto-Bold/Roboto-Bold.woff2')
      format('woff2'),
    /* chrome、firefox */ url('./../fonts/Roboto-Bold/Roboto-Bold.woff')
      format('woff'),
    /* chrome、firefox */ url('./../fonts/Roboto-Bold/Roboto-Bold.ttf')
      format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
      url('./../fonts/Roboto-Bold/Roboto-Bold.svg#Roboto-Bold') format('svg'); /* iOS 4.1- */
}
